{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Tweet Me App</h1>

<div id = 'tweets'>

</div>


<script>

    function formatTweetElement(tweet){
        var formattedTweet = "<div class = 'mb-4'><h1>" + tweet.id + "</h1>" + "<p>" + tweet.content + "</p></div>"
        return formattedTweet
    }

    const tweetsElement = document.getElementById("tweets")
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.onload = function(){
        console.log(xhr.response)
        const serverResponse = xhr.response
        const ListedItems = serverResponse.response
        var finalTweetStr=''
        var i = 0 
        for(i=0;i<ListedItems.length;i++){
            console.log(ListedItems[i])
            var current = formatTweetElement(ListedItems[i])
            finalTweetStr += current
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock content %}